
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #1e3a8a, #0ea5e9);
    color: white;
    margin: 0;

    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    padding: 20px;

}
.resume{
    max-width: 600px;
    padding: 30px;
    background: white;
    img{ 
        width: 120px;
        border-radius: 50%;
        border: 4px solid #667eea;
    }
    border-radius: 10px;
    text-align:center;
    box-shadow: 0 10px 30px rgba(0, 0, 0.1);
    h1 {
       margin: 10px 0;
       fon-size: 24px;
       color: #333;
    }
    h2{
        border-bottom: 2px solid #667eea;
        display: inline-block;
        padding-bottom: 5px;
        margin-bottom: 15px;
        font-size: 20px;
        color: #333;
    
    }
    p{
        color:#555;
    }
    .skills{
        .bar{
            height: 10px;
            background: #e0e0e0;
            border-radius: 5px;
            margin: 5px 0;
            overflow: hidden;
        }
        .html{
            width: 90%;
            background-color: orangered;
        }
        .css{
            width: 85%;
            background-color: blue;
        }
        .responsive{
            width: 80%;
            background-color: #764ba2;
        }
    }
button{
    display: block;
    width: 100%;
    padding: 12px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
    &:hover{
        background: #764ba2;
    }



}
}
@media print {
    
    body{
        background: white;
    }
    .resume{
        box-shadow: none;
        button{
        display: none;
    }
    }
}